{% extends 'base.html' %} {% block content %}

<section class="postcard-posts section section-bg">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="section-head text-center mx-auto narrow">
          <span class="pre-title small position-relative fw-bold text-dark text-uppercase">Create a Postcard</span>
          <h2 class="section-title text-dark mt-3">Memories and More</h2>
          {% comment %}
          <p class="section-subtitle mt-3 mb-0">Add a short greeting and a message</p>
          {% endcomment %}
          <form action="" method="post">
            {% csrf_token %} {{ form.as_p }}

            <input type="submit" value="Continue" class="btn btn-warning shadow-sm mt-4 fw-bold" /><a class="btn btn-light shadow-sm mx-3 mt-4 fw-bold" href="{% url 'postcards'  %}">Cancel</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
