{% extends 'base.html' %} {% load static %} {% block content %}

<!-- login Start-->

<section class="login section bg-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head text-center mx-auto narrow">
          <span class="pre-title small position-relative fw-bold text-dark text-uppercase">Accounts</span>
          <h2 class="section-title text-dark mt-3">Log In A Registered User</h2>
          {% if user.is_authenticated %}
          <h3 class="error">{{user.username}} is logged in</h3>
          {% endif %}
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="d-flex flex-column align-items-center">{{ form.as_p }}</div>
            <input type="submit" class="btn btn-warning shadow-sm mt-4 fw-bold" value="Log In" />

            <input type="hidden" name="next" value="{{ next }}" />
          </form>

          <span class="helptext mt-4">Did you need to <a class="text-dark" href="{% url 'register' %}">register a new user?</a></span>
          <p class="section-subtitle mt-3 mb-0">Little Cabin App requires an administrator to approve ALL sign-ups before allowing access. Only authenticated family members will be able to utilize the app's features, such as calendar access, postcards and requests. Please enter your registered email address and password above, or select an account option below:</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column login-box text-center mt-5">
          <a aria-label="log in" href="{% url 'login' %}"><i alt="" class="fas fa-sign-in-alt login-box-icon"></i></a>
          <a class="btn btn-warning shadow-sm mt-4 fw-bold" href="{% url 'login' %}">Log In</a>
          <p class="login-box-text mt-3 mb-0">Once an account been granted access, ecurely log in with your registered email and password</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column login-box text-center mt-5">
          <a aria-label="request access" href="{% url 'register' %}"><i alt="" class="fas fa-user-plus login-box-icon"></i></a>
          <a class="btn btn-warning shadow-sm mt-4 fw-bold" href="{% url 'register' %}">Request Access</a>
          <p class="login-box-text mt-3 mb-0">Register a new user and request access from the property admin</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- login End-->

{% endblock %}
