{% extends 'base.html' %} {% load static %} {% block content %}

<!-- login Start-->

<section class="login section bg-white">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head text-center mx-auto narrow">
          <span class="pre-title small position-relative fw-bold text-dark text-uppercase">Accounts</span>
          <h2 class="section-title text-dark mt-3">Log In A Registered User</h2>
          <form method="post" action="{% url 'login' %}">
            {% csrf_token %} {{ form.as_p }}
            <input type="submit" class="btn btn-warning shadow-sm mt-4 fw-bold" value="Log In" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
          <p class="section-subtitle mt-3 mb-0">Little Cabin App requires an administrator to approve ALL sign-ups before allowing access. Only authenticated family members will be able to utilize the app's features, such as calendar access, postcards and requests. Please enter your registered email address and password, or select an account option below:</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 col-lg-4">
        <div class="login-box text-center mt-5">
          {% comment %} <img class="login-box-icon" src="{% static 'assets/images/branding.svg' %}" /> {% endcomment %}
          <i class="fas fa-user-plus login-box-icon"></i>
          <h3 class="login-box-title text-dark mt-4 text-uppercase">Request Access</h3>
          <p class="login-box-text mt-3 mb-0">This will match your email against a "white-list" of approved family-member emails</p>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="login-box text-center mt-5">
          {% comment %} <img class="login-box-icon" src="{% static 'assets/images/marketing.svg' %}" /> {% endcomment %}
          <i class="fab fa-google login-box-icon"></i>
          <h3 class="login-box-title text-dark mt-4 text-uppercase">Log In (Google)</h3>
          <p class="login-box-text mt-3 mb-0">Secure, one-click login for registered family members with a Google Account</p>
        </div>
      </div>
      <div class="col-12 col-md-4 col-lg-4">
        <div class="login-box text-center mt-5">
          {% comment %} <img class="login-box-icon" src="{% static 'assets/images/scale.svg' %}" /> {% endcomment %}
          <i class="fab fa-facebook-square login-box-icon"></i>
          <h3 class="login-box-title text-dark mt-4 text-uppercase">Log In (Facebook)</h3>
          <p class="login-box-text mt-3 mb-0">Secure, one-click login for registered family members with a Facebook Account</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- login End-->

{% endblock %}
