{% extends 'base.html' %} {% load static %} {% load custom_tags %} {% block content %}

<!-- register Start-->

<section class="login section bg-white">
  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <div class="section-head mx-auto narrow">
          <div class="text-center">
            <span class="pre-title small position-relative fw-bold text-dark text-uppercase">Accounts</span>
            <h2 class="section-title text-dark mt-3">Request New User Access</h2>
          </div>
          {% if user.is_authenticated %}
          <h3 class="error">{{user.username}} is logged in</h3>
          {% endif %}
          <h3 class="error">{{error_message}}</h3>

          <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <table>
              {{ form.as_table }}
            </table>

            <input type="hidden" name="next" value="{{ next }}" />
          </form>
          <div class="text-center">
            <input type="submit" class="btn btn-warning shadow-sm mt-4 fw-bold align-self-center" value="Request Access" />
            <span class="helptext mt-4">Did you want to <a class="text-dark" href="{% url 'login' %}">login instead?</a></span>
          </div>

          <p class="section-subtitle mt-3 mb-0">Little Cabin App requires an administrator to approve ALL sign-ups before allowing access. Only authenticated family members will be able to utilize the app's features, such as calendar access, postcards and requests. If you have already been authorized, log in with an option below instead:</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column login-box text-center mt-5">
          <a aria-label="log in" href="{% url 'login' %}"><i alt="" class="fas fa-sign-in-alt login-box-icon"></i></a>
          <a class="btn btn-warning shadow-sm mt-4 fw-bold" href="{% url 'login' %}">Log In</a>
          <p class="login-box-text mt-3 mb-0">Once an account been granted access,securely log in with your registered email and password</p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="d-flex flex-column login-box text-center mt-5">
          <a aria-label="request access" href="{% url 'register' %}"><i alt="" class="fas fa-user-plus login-box-icon"></i></a>
          <a class="btn btn-warning shadow-sm mt-4 fw-bold" href="{% url 'register' %}">Request Access</a>
          <p class="login-box-text mt-3 mb-0">Register a new user and request access from the property admin</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- register End-->

{% endblock %}
