{% load static %} {% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <title>Little Cabin</title>
    <script src="https://kit.fontawesome.com/259e294c6d.js" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'assets/images/fav.png' %}' %}" sizes="32x32" />
    <link type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;0,800;0,900;1,700;1,800;1,900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/css/splide.min.css' %}" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
  </head>
  <body>
    <nav id="primary-navbar" class="primary-nav navbar navbar-expand-lg navbar-light bg-white fixed-top font-nunito">
      <div class="container px-4 px-sm-0">
        <a class="navbar-brand" href="{% url 'home' %}">Little Cabin</a>

        {% comment %} <img src="{% static 'assets/images/logo-2.png' %}" /> {% endcomment %}

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'home' %}">Home</a>
            </li>

            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link" href="{% url 'postcards' %}">Postcards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'calendar' %}">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'requests' %}">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'info' %}">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout ({{user.first_name}})</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% anchor 'home' 'about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %} {% comment %}
            <li class="nav-item">
              <a class="nav-link" href="#">Work</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Services </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Branding</a></li>
                <li><a class="dropdown-item" href="#">UI/UX</a></li>
                <li><a class="dropdown-item" href="#">Hybrid Apps</a></li>
                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                <li><a class="dropdown-item" href="#">Growth Hacking</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            {% endcomment %}
          </ul>
        </div>
        <button id="open-sidenav" class="open-sidenav bg-transparent border-0 ms-2">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#2c333a" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
            <line x1="3" y1="12" x2="21" y2="12"></line>
            <line x1="3" y1="6" x2="21" y2="6"></line>
            <line x1="3" y1="18" x2="21" y2="18"></line>
          </svg>
        </button>
      </div>
    </nav>
    <!-- Off Canvas Menu Start-->
    <div id="sidenav-wrap">
      <span class="sidenav-backdrop"></span>
      <div id="sidenav" class="sidenav font-nunito bg-dark px-4">
        <a href="#" id="close-sidenav" class="close-sidenav text-decoration-none text-white">&times;</a>
        <div class="sidenav-logo mt-5 pt-5">
          <a class="" href="#"><img src="{% static 'assets/images/logo-2-white.png' %}" /></a>
        </div>
        <div class="sidenav-menu mt-5">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link px-0" href="{% url 'home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}

            <li class="nav-item">
              <a class="nav-link px-0" href="{% url 'postcards' %}">Postcards</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="{% url 'calendar' %}">Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="{% url 'requests' %}">Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="{% url 'info' %}">Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="{% url 'logout' %}">Logout</a>
            </li>

            {% else %}
            <li class="nav-item">
              <a class="nav-link px-0" href="{% anchor 'home' 'about' %}">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link px-0" href="{% url 'login' %}">Login</a>
            </li>
            {% endif %} {% comment %}
            <li class="nav-item">
              <a class="nav-link px-0" href="#">Work</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link px-0 dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Services</a>
              <ul class="dropdown-menu border-0">
                <li><a class="dropdown-item" href="#">Branding</a></li>
                <li><a class="dropdown-item" href="#">UI/UX</a></li>
                <li><a class="dropdown-item" href="#">Hybrid Apps</a></li>
                <li><a class="dropdown-item" href="#">Digital Marketing</a></li>
                <li><a class="dropdown-item" href="#">Growth Hacking</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link px-0" href="#">Contact</a>
            </li>
            {% endcomment %}
          </ul>
        </div>
        {% comment %}
        <div class="sidenav-social mt-5">
          <ul class="list-unstyled">
            <li class="inline-block me-2">
              <a href="#" class="text-white"><img src="{% static 'assets/images/twitter.svg' %}" /></a>
            </li>
            <li class="inline-block me-2">
              <a href="#" class="text-white"><img src="{% static 'assets/images/instagram.svg' %}" /></a>
            </li>
            <li class="inline-block me-2">
              <a href="#" class="text-white"><img src="{% static 'assets/images/linkedin.svg' %}" /></a>
            </li>
            <li class="inline-block me-2">
              <a href="#" class="text-white"><img src="{% static 'assets/images/youtube.svg' %}" /></a>
            </li>
            <li class="inline-block me-2">
              <a href="#" class="text-white"><img src="{% static 'assets/images/dribbble.svg' %}" /></a>
            </li>
            <li class="inline-block">
              <a href="#" class="text-white"><img src="{% static 'assets/images/github.svg' %}" /></a>
            </li>
          </ul>
        </div>
        {% endcomment %}
      </div>
    </div>
    <!-- Off Canvas Menu End-->

    {% block content %} {% endblock %}

    <!--Footer Start-->
    <footer class="footer bg-dark text-muted pt-0 pt-lg-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div class="footer-col mt-5 pe-4">
              <h3 class="footer-title text-white mb-4">Little Cabin</h3>
              {% comment %} <img src="{% static 'assets/images/logo-2-white.png' %}" class="footer-logo mb-4" alt="Little Cabing Logo" /> {% endcomment %}
              <p class="mb-0">Little Cabin App by <a href="https://benhammond.tech">Ben Hammond</a> is open-sourced on <a href="https://github.com/benhammondmusic/littlecabin/">GitHub</a>. Please <a href="mailto:hello@benhammond.tech">reach out</a> if you'd like to build something together.</p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <div class="footer-col mt-5">
              <h3 class="footer-title text-white mb-4">Account</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-2"><a href="{% url 'home' %}">Home</a></li>
                <li class="mb-2"><a href="{% url 'login' %}">Login</a></li>
                <li class="mb-2"><a href="{% url 'register' %}">Register</a></li>
                <li class="mb-0"><a href="{% anchor 'home' 'about' %}">About</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 col-lg-2">
            <div class="footer-col mt-5">
              <h3 class="footer-title text-white mb-4">Apps</h3>
              <ul class="list-unstyled mb-0">
                <li class="mb-2"><a href="{% url 'calendar' %}">Calendar</a></li>
                <li class="mb-2"><a href="{% url 'postcards' %}">Postcards</a></li>
                <li class="mb-2"><a href="{% url 'requests' %}">Requests</a></li>
                <li class="mb-0"><a href="{% url 'info' %}">Info</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-2">
            <div class="footer-col footer-contact mt-5">
              <h3 class="footer-title text-white mb-4">Report A Bug</h3>
              {% comment %}
              <div class="mb-3"><img class="me-2" src="{% static 'assets/images/map-pin.svg' %}" /><span>2132 Berry Street, Pueblo, Colorado</span></div>
              {% endcomment %} {% comment %}
              <div class="mb-3"><img class="me-2" src="{% static 'assets/images/phone.svg' %}" /><span>719-240-7593</span></div>
              {% endcomment %}
              <div>
                {% comment %} <img class="me-2" src="{% static 'assets/images/mail.svg' %}" /> {% endcomment %}
                <i class="far fa-paper-plane me-2 email-me"></i>
                <a href="mailto:hello@benhammond.tech"> Email Admin</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row footer-credits text-center mt-5 py-3">
          <div class="col-12 col-md-6">
            <div class="footer-copy float-md-none float-lg-start">
              <p class="mb-0 small">&copy 2021 <a href="https://benhammond.tech" class="text-decoration-none">benhammond.tech</a></p>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="footer-social clearfix">
              <ul class="list-unstyled mb-0 float-md-none float-lg-end">
                <li class="d-inline-block">
                  <a href="https://www.facebook.com/groups/120800281344839"><img src="{% static 'assets/images/facebook.svg' %}" /></a>
                </li>
                <li class="d-inline-block me-2">
                  <a href="https://www.youtube.com/playlist?list=PLmOUcKjFU7sjBvy6aUGOg0I1sGGfdobzN"><img src="{% static 'assets/images/youtube.svg' %}" /></a>
                </li>
                <li class="d-inline-block me-2">
                  <a href="https://github.com/benhammondmusic/littlecabin/"><img src="{% static 'assets/images/github.svg' %}" /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!--Footer End-->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/splide.min.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
