{% extends 'base.html' %}{% load static %}} {% block content %}

<!-- content calendar-->

<section class="calendar section section-bg position-relative">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-5">
        <div class="calendar-text pe-0 pe-md-5">
          <span class="pre-title text-dark small position-relative fw-bold text-uppercase">Calendar</span>
          <h2 class="calendar-title text-dark section-title mt-3 mb-4">View Your Weeks; Offer Swaps or Sales</h2>
          
          <h3>{{display_year}} Schedule:</h3>

          <ul class="calendar-list">
            {% for event in events %}
            <li class="calendar-list-item my-2"><span class="align-middle">{{ event }} </span>
            
            
  

            {% if event.display_swap_btn  %}
             <a href="{% url 'propose_swap' event.id %}" class="align-middle btn btn-sm btn-dark bg-dark shadow-sm fw-bold">Swap for this Week</a>
            {% endif %}
          </li>
            {% endfor %}
          </ul>

          <div class="year-buttons d-flex p-3 m-3">
          <form action="{% url 'calendar' %}" method="post">
            {% csrf_token %}
            {% now "Y" as current_year %}
            {% if display_year > current_year %}
            <button name="display_year" value="{{ display_year|add:"-1" }}" class="btn btn-warning m-4  d-inline-block fw-bold shadow-sm" type="submit">&laquo; {{ display_year|add:"-1"}}</button>
            {% endif %}
          </form>

          

          <form action="{% url 'calendar' %}" method="post">
            {% csrf_token %}
            <button name="display_year" value="{{ display_year|add:"1"}}" class="btn btn-warning m-4 d-inline-block fw-bold shadow-sm" type="submit">{{ display_year|add:"1"}} &raquo;</button>
          </form>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="wings position-relative p-5 mt-5 mt-lg-0">
          <div class="video-box shadow-lg p-3 ps-1 ps-md-5 position-relative bg-light">
          <h4>Outgoing Swaps:</h4>
          <ul>
          {% for swap in outgoing_swaps %}
            <li><em>{{swap}}</em><a href="{% url 'delete_swap' swap.id %}" class="align-middle btn btn-sm btn-light shadow-sm fw-bold">Withdraw</a></li>
          {% endfor %}
          </ul>

          <h4>Incoming Swaps:</h4>
          <ul>
          {% for swap in incoming_swaps %}
            <li><em>{{swap}}</em><a href="{% url 'approve_swap' swap.id %}" class="align-middle btn btn-sm btn-dark bg-dark shadow-sm fw-bold">Approve</a><a href="{% url 'delete_swap' swap.id %}" class="align-middle btn btn-sm btn-danger shadow-sm fw-bold mx-1">Deny</a></li>
          {% endfor %}
          </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- content calendar-->

{% endblock %}
