{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Hero Section Start-->

<section class="hero bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12 col-lg-6 order-2 order-lg-1 mt-4 mt-lg-0 pt-4 pt-lg-0">
        <div class="hero-content pe-md-0 pe-lg-5">
          <span class="pre-title text-dark small fw-bold inline-block position-relative text-uppercase">Welcome!</span>
          <h1 class="hero-title text-dark mt-3">Little Cabin App<br class="d-none d-lg-block" /></h1>
          <h2 class="hero-subtitle text-dark mt-3">Make Memories, Not Spreadsheets</h2>
          <p class="hero-text mt-3 mb-0"></p>
          <a href="{% url 'login' %}" class="btn btn-warning shadow-sm mt-4 fw-bold">Log In</a>
        </div>
      </div>
      <div class="col-md-12 col-lg-6 order-1 order-lg-2">
        <div class="hero-image wings position-relative mx-3 mx-md-4 ms-lg-5">
          <img class="rounded img-fluid w-100 position-relative" alt="" src="{% static 'assets/images/hero.jpg' %}" />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hero Section End-->

<!--About Little Cabin box-->

<section id="about" class="about section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <div class="about-box-text">
          <span class="pre-title small position-relative fw-bold text-dark text-uppercase">About the App</span>
          <h2 class="about-box-title section-title text-dark mt-3 mb-4">Securely share your family get-away</h2>
          <p>Little Cabin is a...</p>
          <ul>
            <li>shared group calendar with permissions-based week swapping and selling</li>
            <li>micro social media network offering "postcards" (short note with a photo)</li>

            <li>collaborative "to-do" style list collecting suggestions from members on maintenance items, purchase ideas, or other helpful suggestions. Members can "agree" and upvote requests</li>
            <li>knowledge center with important information including legal trust information, weekly chores, dues schedule, contact info for local businesses and emergency protocols</li>
          </ul>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="about-wrap text-center ps-0 ps-lg-5">
          <div class="row gx-3">
            <div class="col-6 col-lg-6">
              <div class="about-box bg-white mt-3 px-4 py-4 py-md-5">
                <a href="{% url "calendar" %}">
                  <i class="far fa-calendar-alt about-icon"></i>
                  <h4 class="about-title mt-3">Calendar</h4>
                  <p class="about-text mb-0 small">See, Swap and Sell Weeks</p>
                </a>
              </div>
            </div>
            <div class="col-6 col-lg-6">
              <div class="about-box bg-white mt-3 px-4 py-4 py-md-5">
                <a href="{% url "postcards" %}">
                  <i class="fas fa-mail-bulk about-icon"></i>
                  <h4 class="about-title mt-3">Postcards</h4>
                  <p class="about-text mb-0 small">Notes and Snapshots</p>
                </a>
              </div>
            </div>
            <div class="col-6 col-lg-6">
              <div class="about-box bg-white mt-3 px-4 py-4 py-md-5">
                <a href="{% url "requests" %}">
                  <i class="fas fa-tools about-icon"></i>
                  <h4 class="about-title mt-3">Requests</h4>
                  <p class="about-text mb-0 small">Shared To-Do List</p>
                </a>
              </div>
            </div>
            <div class="col-6 col-lg-6">
              <div class="about-box bg-white mt-3 px-4 py-4 py-md-5">
                <a href="{% url "info" %}">
                  <i class="fas fa-info-circle about-icon"></i>
                  <h4 class="about-title mt-3">Info</h4>
                  <p class="about-text mb-0 small">Knowledge Center</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--end About Little Cabin box-->

{% endblock %}
