{% extends 'base.html' %} {% load static %} {% block content %}

<section class="postcard-posts section section-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head text-center mx-auto narrow">
          <span class="pre-title small position-relative fw-bold text-dark text-uppercase">Postcards</span>
          <h2 class="section-title text-dark mt-3">Memories and More</h2>
          <p class="section-subtitle mt-3 mb-0">View recent postcards, and create your own (no picture required).</p>

          <a href="{% url 'create_postcard' %}" class="btn btn-warning shadow-sm mt-4 fw-bold">Create a Postcard</a>
        </div>
      </div>
    </div>
    <div class="row">
      {% for card in postcards_with_authors %}

      <!-- postcard Start-->
      <div class="col-12 col-md-6 col-lg-4">
        <div class="postcard-post bg-white rounded-3 shadow-sm overflow-hidden mt-4 mt-md-5">
          {% for photo in card.postcard.photo_set.all %}
          <img alt="{{photo.alt_text}}" loading="lazy" class="responsive-img card-panel" width="100%" src="{{photo.url}}" />
          {% endfor %}
          <div class="postcard-post-body p-4">
            <div class="postcard-post-meta clearfix">
              <a href="#" class="postcard-post-tag text-dark fw-bold text-decoration-none me-4 small">{{ card.postcard.greeting }}</a>
            </div>

            <h3 class="postcard-post-title mt-2 mb-0">{{ card.postcard.message }}</h3>
            <span class="post-date d-inline-block mt-2 small">- {{ card.author.first_name }} {{ card.author.last_name }} {{ card.postcard.created|timesince}} ago</span>
          </div>
        </div>
      </div>
      <!-- postcard End-->
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
