{% extends 'base.html' %} {% load static %} {% block content %}

<!-- postcard Section Start-->

<section class="postcard bg-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="section-head text-center mx-auto narrow">
          <span class="pre-title small position-relative fw-bold text-dark text-uppercase">Postcards</span>
          <h2 class="section-title text-dark mt-3">Memories and More</h2>
          <p class="section-subtitle mt-3 mb-0">View recent postcards, and create your own (no picture required).</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <!-- postcard Item Start-->
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 px-0">
        <div class="postcard-item position-relative overflow-hidden">
          <img class="postcard-item-img img-fluid w-100" src="{% static 'assets/images/portfolio-1.jpg' %}" />
          <div class="postcard-item-content position-absolute rounded text-center">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h3 class="project-title text-white">News Portal</h3>
              <span class="project-type text-uppercase text-white small">UI</span>
            </div>
          </div>
        </div>
      </div>
      <!-- postcard Item End-->
      <!-- postcard Item Start-->
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 px-0">
        <div class="postcard-item position-relative overflow-hidden">
          <img class="postcard-item-img img-fluid w-100" src="{% static 'assets/images/portfolio-2.jpg' %}" />
          <div class="postcard-item-content position-absolute rounded text-center">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h3 class="project-title text-white">Mockup Design</h3>
              <span class="project-type text-uppercase text-white small">Branding</span>
            </div>
          </div>
        </div>
      </div>
      <!-- postcard Item End-->
      <!-- postcard Item Start-->
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 px-0">
        <div class="postcard-item position-relative overflow-hidden">
          <img class="postcard-item-img img-fluid w-100" src="{% static 'assets/images/portfolio-3.jpg' %}" />
          <div class="postcard-item-content position-absolute rounded text-center">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h3 class="project-title text-white">News Portal</h3>
              <span class="project-type text-uppercase text-white small">App Design</span>
            </div>
          </div>
        </div>
      </div>
      <!-- postcard Item End-->
      <!-- postcard Item Start-->
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 px-0">
        <div class="postcard-item position-relative overflow-hidden">
          <img class="postcard-item-img img-fluid w-100" src="{% static 'assets/images/portfolio-4.jpg' %}" />
          <div class="postcard-item-content position-absolute rounded text-center">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h3 class="project-title text-white">News Portal</h3>
              <span class="project-type text-uppercase text-white small">App Design</span>
            </div>
          </div>
        </div>
      </div>
      <!-- postcard Item End-->
      <!-- postcard Item End-->
      <!-- postcard Item Start-->
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 px-0">
        <div class="postcard-item position-relative overflow-hidden">
          <img class="postcard-item-img img-fluid w-100" src="{% static 'assets/images/portfolio-5.jpg' %}" />
          <div class="postcard-item-content position-absolute rounded text-center">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h3 class="project-title text-white">News Portal</h3>
              <span class="project-type text-uppercase text-white small">App Design</span>
            </div>
          </div>
        </div>
      </div>
      <!-- postcard Item End-->
      <!-- postcard Item Start-->
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 px-0">
        <div class="postcard-item position-relative overflow-hidden">
          <img class="postcard-item-img img-fluid w-100" src="{% static 'assets/images/portfolio-6.jpg' %}" />
          <div class="postcard-item-content position-absolute rounded text-center">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h3 class="project-title text-white">News Portal</h3>
              <span class="project-type text-uppercase text-white small">App Design</span>
            </div>
          </div>
        </div>
      </div>
      <!-- postcard Item End-->
      <!-- postcard Item Start-->
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 px-0">
        <div class="postcard-item position-relative overflow-hidden">
          <img class="postcard-item-img img-fluid w-100" src="{% static 'assets/images/portfolio-7.jpg' %}" />
          <div class="postcard-item-content position-absolute rounded text-center">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h3 class="project-title text-white">News Portal</h3>
              <span class="project-type text-uppercase text-white small">App Design</span>
            </div>
          </div>
        </div>
      </div>
      <!-- postcard Item Start-->
      <div class="col-12 col-sm-6 col-md-6 col-lg-3 px-0">
        <div class="postcard-item position-relative overflow-hidden">
          <img class="postcard-item-img img-fluid w-100" src="{% static 'assets/images/portfolio-8.jpg' %}" />
          <div class="postcard-item-content position-absolute rounded text-center">
            <div class="position-absolute top-50 start-50 translate-middle">
              <h3 class="project-title text-white">News Portal</h3>
              <span class="project-type text-uppercase text-white small">App Design</span>
            </div>
          </div>
        </div>
      </div>
      <!-- postcard Item End-->
    </div>
  </div>
</section>

<!-- postcard Section End-->
{% endblock %}
