{% extends 'base.html' %} {% load static %} {% block content %}

<!-- requests Start-->
<section class="requests section bg-white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-lg-6">
        <div class="requests-img me-0 me-lg-5">
          <img src="{% static 'assets/images/requests.jpg' %}" class="img-fluid rounded shadow-sm" />
          <div class="mt-3 clearfix">
            <div class="w-50 float-start pe-2">
              <img src="{% static 'assets/images/requests-2.jpg' %}" class="img-fluid rounded shadow-sm" />
            </div>
            <div class="w-50 float-end ps-2">
              <img src="{% static 'assets/images/requests-3.jpg' %}" class="img-fluid rounded shadow-sm" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="section-head mt-5 mt-lg-0">
          <span class="pre-title small position-relative fw-bold text-dark text-uppercase">Requests</span>
          <h2 class="section-title text-dark mt-3">Ideas, Broken Items, and Other To-Do's</h2>
          <p class="section-subtitle mt-3">If you think of something that would benefit the property, add an item! If you're able to complete a task or it's no longer needed, check it off ✔</p>

          <a href="{% url 'create_request' %}" class="btn btn-warning shadow-sm mt-4 fw-bold">Add a Request</a>
        </div>

        <div class="requests-content mt-2 me-0 me-md-5">
          <div class="row">
            <ul class="check-list list-unstyled mb-0">
              {% for unchecked_request in unchecked_requests %}
              <li class="unchecked">
                <form action="{% url 'request_flip_is_done' unchecked_request.id %}" method="post">
                  {% csrf_token %}

                  <button name="submit" value="{{unchecked_request.id}}" class="btn"><img src="{% static 'assets/images/uncheck.svg' %}" /> <span class="unchecked">{{unchecked_request.item}}</span></button>
                </form>
              </li>
              {% endfor%}
            </ul>
            <hr />
            <ul class="check-list list-unstyled mb-0">
              {% for checked_request in checked_requests %}
              <li>
                <form action="{% url 'request_flip_is_done' checked_request.id %}" method="post">
                  {% csrf_token %}

                  <button name="submit" value="{{checked_request.id}}" class="btn"><img src="{% static 'assets/images/check.svg' %}" /> <span class="checked">{{checked_request.item}}</span></button>
                </form>
              </li>
              {% endfor%}
            </ul>
            <div class="col-12">
              <div class="mt-4">
                <div class="clearfix">
                  <span class="d-block w-50 float-start fw-bold small">Design</span>
                  <span class="d-block w-50 float-end fw-bold small text-end">95%</span>
                </div>
                <div class="progress mt-2">
                  <div class="progress-bar bg-warning text-dark" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- requests End-->

{% endblock %} {% comment %}
<div class="row">
  {% for card in postcards_with_authors %}

  <!-- postcard Start-->
  <div class="col-12 col-md-6 col-lg-4">
    <div class="postcard-post bg-white rounded-3 shadow-sm overflow-hidden mt-4 mt-md-5">
      {% for photo in card.postcard.photo_set.all %}
      <img class="responsive-img card-panel" width="100%" src="{{photo.url}}" />
      {% endfor %}
      <div class="postcard-post-body p-4">
        <div class="postcard-post-meta clearfix">
          <a href="#" class="postcard-post-tag text-warning fw-bold text-decoration-none me-4 small">{{ card.postcard.greeting }}</a>
        </div>

        <h3 class="postcard-post-title mt-2 mb-0">{{ card.postcard.message }}</h3>
        <span class="post-date d-inline-block mt-2 small">- {{ card.author.first_name }} {{ card.author.last_name }} {{ card.postcard.created|timesince}} ago</span>
      </div>
    </div>
  </div>
  <!-- postcard End-->
  {% endfor %}
</div>
{% endcomment %}
