{% extends 'base.html' %} {% block content %}

<section class="request-posts section section-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="section-head text-center mx-auto narrow">
          <span class="pre-title small position-relative fw-bold text-dark text-uppercase">Requests</span>
          <h2 class="section-title text-dark mt-3">To-Dos, Suggestions, Fixes Needed, etc</h2>
          <p class="section-subtitle mt-3 mb-0">{{ todo_request.item }}</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
